/* Get the footer to stick at the bottom */
#container {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
#wrapper {
    padding-bottom: 211px;
}
#footer {
    bottom: 0 !important;
    bottom: -1px;
    position: absolute;
    width: 100%;
}
html, body {
    margin:0;
    padding: 0;
    height:100%;
}

/* The following is for the header and footer */
#header {
  background: url(images/header_pattern.png);
  height: 118px;
  border-bottom: 1px #ECECEC solid;
}
#footer {
    background-image: url(images/footer_pattern.png);
    height: 210px;
    border-top: 1px #ECECEC solid;
}

.secondary-links {
    margin:0;
    padding:0;
    float:right;
    height: 10px;
}
.secondary-links li {
    display: inline;
    font-size: 70%;
}
#header .region-content, #footer .region-content {
  min-width: 725px;
  max-width: 1165px;
  padding-left:100px;
}
#header h1 {
  font-size: 2.5em;
  color: #800000;
  #text-shadow: #0d0d0d 0px 1px 3px;
}
#header h1 span {
 line-height: 100px;
}
#header h1 a:link, #header h1 a:visited, #header h1 a:hover {
 color: #800000;
}
#header h1 a:hover, #header h1 a:active {
 text-decoration: none; color: #999999;
}
#header h1 .site-slogan {
 font-size: .4em;
 font-style: italic;
}
#footer ul.primary-links li a, #footer ul.primary-links li a:link
, #footer ul.primary-links li a:visited {
  color: #800000;
}

#footer ul.primary-links li {
  border-left: 1px solid #800000;
  padding: 0 .5em 0 .75em;
}

#footer ul.primary-links li.first {
  border: 0;
  padding-left: 0;
}
#footer {
  color: #eee;
}
#footer h2, #footer h3, #footer h4 {
  color: #eee;
}
#footer #footer-message {
    color: #800000;
    font-size: .9em;
    margin: 0 0 0 2em;
    float: right;
}
#footer .block {
    clear: both;
    margin-bottom: 1.3em;
}
#footer .bottom-border {
    min-height: 20px;
    padding: 22px 2em;
}
#footer .primary-links {
  float: left;
}


/* Links */
a:link, a:visited {
  color: #800000;
  text-decoration: none;
}
a:hover {
  color: #800000;
  text-decoration: underline;
}
a.active, a:link.active, a:visited.active, a:hover.active {
  color: #800000;
  font-weight: 700;
}

/* Fonts */
body {
  font:0.9em/1.2em gill sans,lucida grande,helvetica,arial,clean,sans-serif;
}
table {
  font-size:inherit;
  font:100%;
}

select, input, textarea {
  font:0.9em gill sans,helvetica,arial,clean,sans-serif;
  color: #1F1F1F;
}
body {
  background: ;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Gill sans", "Trebuchet MS", Helvetica, Tahoma, sans-serif;
  color: #555;
  line-height: 1.2em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.3em;
  color: #5c4c30;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

ul, quote, code, fieldset {
  margin: .5em 0;
}

p {
  margin: .6em 0 1.2em;
  padding: 0;
}

/* Tables */
table {
  margin: 1em 0;
  width: 100%;
}
tr, td {
  padding: .50em;
}


.form_body {
    max-width:1165px; 
    min-width:725px;
    padding-top: 10px;
}

/**
 * Lists
 */

ul {
  margin: .5em 0 1em;
  padding: 0;
}

ol {
  margin: .75em 0 1.25em;
  padding: 0;
}

ol li, ul li {
  margin: .4em 0 .4em .35em;
}

ul.menu, .item-list ul {
  margin: .35em 0 0 -0.35em;
  padding: 0;
}

ul.menu ul, .item-list ul ul {
  margin-left: 0em;
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: .15em 0 .15em .35em;
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.25em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(images/menu_leaf.png) no-repeat 0 .45em;
}

ol li {
  margin-left: 2em;
}

ul li.expanded {
  background: transparent url(images/menu_expanded.png) no-repeat 0 .45em;
}

ul li.collapsed {
  background: transparent url(images/menu_collapsed.png) no-repeat 0 .45em;
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0;
}

ol.task-list {
  margin-left: 0;
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: .5em 1em .5em 2em;
}
ol.task-list li.active {
  background: transparent url(images/menu_expanded.png) no-repeat 3px 50%;
}
ol.task-list li.done {
  color: #393;
  background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%;
}
ol.task-list li.active {
  margin-right: 1em;
}

fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}



div.main_body {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left:10px;
}

/* The following is PhiloLogic specific CSS to handle TEI encoding */
/* Edit as you see fit, but you will probably need to modify traps in */
/* philosubs.pl in the database lib/ directory.  Yes, indeed, it is */
/* a bit fiddly.  One day, XSLT!  If you do it, please let us know. */
span.emph {font-weight: bolder; }
span.emphsc {FONT-SIZE: 12px;}
span.hi   {font-weight: bolder;}
span.foreign {font-style: italic;}
span.bibl {font-style: italic;}
span.title     {font-style: italic;}
span.hiitalic  {font-style: italic;}
span.hiunderline {text-decoration: underline;}
span.hibold   {font-weight: bolder;}
span.doctitle {display: block; text-align: center; FONT-SIZE: 24px; LINE-HEIGHT: 1.5;}
span.byline {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}
span.pubplace {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}
span.docedition {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}
span.publisher {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}
span.docimprint {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}
span.addrline {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}
span.docauthor {display: block; text-align: center; FONT-SIZE: 20px; LINE-HEIGHT: 1.5;}
span.docdate {display: block; text-align: center; FONT-SIZE: 20px; LINE-HEIGHT: 1.5;}
span.opener   {display: block; text-align: center;}
span.label   {display: block; text-align: center;}
span.signed   {display: block; text-align: right;}
span.stage    {display: block; text-align: right; font-style: italic; margin-left: 120px;}
span.speaker  {display: block; text-align: center; FONT-SIZE: 16;}
span.epigraph {display: block; margin-left: 300px;}
span.salute   {display: block; text-align: center;}
span.trailer  {display: block; text-align: center;}
span.closer   {display: block; text-align: center;}
span.item     {display: block; text-align: left;}
span.role     {display: block; text-align: left; margin-left: 100px; margin-right: 100px}
span.argument {display: block; text-align: left; margin-left: 100px; margin-right: 100px}
span.roledesc {display: block; text-align: right; margin-right: 100px}
span.l        {display: block; text-align: left;}
span.small   {FONT-SIZE: 11px;}
span.smallcaps {font-variant: small-caps;}
span.hismallcap {FONT-SIZE: 12px;}
span.head    {FONT-SIZE: 18px; LINE-HEIGHT: 1.5;}
span.notetarget {FONT-SIZE: 12px; text-decoration: underline; vertical-align: super;}
span.footnote {display: block; FONT-SIZE: 12px; margin-left: 60px; margin-right: 40px;}
span.marginnote {display: block; FONT-SIZE: 12px; text-align: right;}
span.inlinenote {display: block; FONT-SIZE: 12px;}
span.generalnote {display: block; FONT-SIZE: 12px;}
span.endnote {display: block; FONT-SIZE: 12px;}
span.refalignright {display: block; text-align: right;}
span.mstoneid {display: block; FONT-SIZE: 12px; text-align: right;}
span.mstonen {display: block; FONT-SIZE: 12px; text-align: right;}
span.mstonetype {display: block; text-align: center;}
span.mwright {display: block; FONT-SIZE: 12px; text-align: right;}
span.authfreqindt {display: block; text-align: left; margin-left: 60px;}
span.perfreqindt {display: block; text-align: left; margin-left: 45px;}
span.navhead {display: block; text-align: center; font-size: 16; font-weight: bold;}
span.navbiblio {display: block; font-size: 14;}
span.navlevel1 {display: block; text-align: left; font-size: 14;}
span.navlevel2 {display: block; text-align: left; margin-left: 40px; FONT-SIZE: 14;}
span.navlevel3 {display: block; text-align: left; margin-left: 60px; FONT-SIZE: 12;}
span.projecthead { text-align: right; font-size: 20; color: #000000;}


/* For pop-in notes */
.hiddennote {
        display: none;
        margin: 5px;
        border: 1px solid #242e55;
        background-color: #dde3ef;
        padding: 2px;
}

/* New Philo4 styles */
.initial_report{
        padding-bottom:10px;
}
.kwic_concordance {
        font-family: 'Droid Sans Mono', sans-serif;
        font-size: 12;
}
.philologic_concordance {
        list-style-type: none;
        padding-left: 20px;
        padding-right: 20px;
}
.philologic_concordance .philologic_occurrence {
        padding-top: 10px;
        padding-bottom : 10px;
        border-style:solid;
        border-width:1px;
        border-color: #ECECEC;
        border-left:0px;
        border-right:0px;
        border-bottom:0px;
}
.bibliographic_results {
        list-style-type: none;
        padding-left: 40px;
        padding-right: 40px;
}
.description {
        font-size: 180%;
        padding-left: 50px;
}
.highlight {
        color: #FF0000;
}
.more {
        font-size: 130%;
        margin-left: auto;
        margin-right: auto;
        width:80%;
}

.more .previous {
    float:left;
    }

.more .next {
    float: right;
    }

.separation {
        width:40%;
        text-align:left;
        margin-left:20;
        color: #000000;
        background-color: #000000;
        height: 1px;
}
.bibliography {
        padding-left: 20px;
        padding-bottom: 10px;
}