/* The following is PhiloLogic specific CSS to handle TEI encoding */
/* Edit as you see fit, but you will probably need to modify traps in */
/* philosubs.pl in the database lib/ directory.  Yes, indeed, it is */
/* a bit fiddly.  One day, XSLT!  If you do it, please let us know. */
div.main_body {margin-left:10px;}
span.emph {font-weight: bolder; }
span.emphsc {FONT-SIZE: 12px;}
span.hi   {font-weight: bolder;}
span.foreign {font-style: italic;}
span.bibl {font-style: italic;}
span.title     {font-style: italic;}
span.hiitalic  {font-style: italic;}
span.hiunderline {text-decoration: underline;}
span.hibold   {font-weight: bolder;}
span.doctitle {display: block; text-align: center; FONT-SIZE: 24px; LINE-HEIGHT: 1.5;}
span.byline {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}
span.pubplace {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}
span.docedition {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}
span.publisher {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}
span.docimprint {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}
span.addrline {display: block; text-align: center; FONT-SIZE: 16px; LINE-HEIGHT: 1.5;}
span.docauthor {display: block; text-align: center; FONT-SIZE: 20px; LINE-HEIGHT: 1.5;}
span.docdate {display: block; text-align: center; FONT-SIZE: 20px; LINE-HEIGHT: 1.5;}
span.opener   {display: block; text-align: center;}
span.label   {display: block; text-align: center;}
span.signed   {display: block; text-align: right;}
span.stage    {display: block; text-align: right; font-style: italic; margin-left: 120px;}
span.speaker  {display: block; text-align: center; FONT-SIZE: 16;}
span.epigraph {display: block; margin-left: 300px;}
span.salute   {display: block; text-align: center;}
span.trailer  {display: block; text-align: center;}
span.closer   {display: block; text-align: center;}
span.item     {display: block; text-align: left;}
span.role     {display: block; text-align: left; margin-left: 100px; margin-right: 100px}
span.argument {display: block; text-align: left; margin-left: 100px; margin-right: 100px}
span.roledesc {display: block; text-align: right; margin-right: 100px}
span.l        {display: block; text-align: left;}
span.small   {FONT-SIZE: 11px;}
span.smallcaps {font-variant: small-caps;}
span.hismallcap {FONT-SIZE: 12px;}
span.head    {FONT-SIZE: 18px; LINE-HEIGHT: 1.5;}
span.notetarget {FONT-SIZE: 12px; text-decoration: underline; vertical-align: super;}
span.footnote {display: block; FONT-SIZE: 12px; margin-left: 60px; margin-right: 40px;}
span.marginnote {display: block; FONT-SIZE: 12px; text-align: right;}
span.inlinenote {display: block; FONT-SIZE: 12px;}
span.generalnote {display: block; FONT-SIZE: 12px;}
span.endnote {display: block; FONT-SIZE: 12px;}
span.refalignright {display: block; text-align: right;}
span.mstoneid {display: block; FONT-SIZE: 12px; text-align: right;}
span.mstonen {display: block; FONT-SIZE: 12px; text-align: right;}
span.mstonetype {display: block; text-align: center;}
span.mwright {display: block; FONT-SIZE: 12px; text-align: right;}
span.authfreqindt {display: block; text-align: left; margin-left: 60px;}
span.perfreqindt {display: block; text-align: left; margin-left: 45px;}
span.navhead {display: block; text-align: center; font-size: 16; font-weight: bold;}
span.navbiblio {display: block; font-size: 14;}
span.navlevel1 {display: block; text-align: left; font-size: 14;}
span.navlevel2 {display: block; text-align: left; margin-left: 40px; FONT-SIZE: 14;}
span.navlevel3 {display: block; text-align: left; margin-left: 60px; FONT-SIZE: 12;}
span.projecthead { text-align: right; font-size: 20; color: #000000;}


/* For pop-in notes */
.hiddennote {
        display: none;
        margin: 5px;
        border: 1px solid #242e55;
        background-color: #dde3ef;
        padding: 2px;
}

/* New Philo4 styles */
.initial_report{
        padding-bottom:10px;
}
.kwic_concordance {
        font-family: 'Droid Sans Mono', sans-serif;
        font-size: 12;
}
.philologic_concordance {
        list-style-type: none;
        padding-left: 20px;
        padding-right: 20px;
}
.philologic_concordance .philologic_occurrence {
        padding-top: 10px;
        padding-bottom : 10px;
        border-style:solid;
        border-width:1px;
        border-color: LightGray;
        border-left:0px;
        border-right:0px;
        border-bottom:0px;
}
.description {
        font-size: 180%;
}
.highlight {
        color: #FF0000;
}
.more {
        font-size: 130%;
        margin-left: auto;
        margin-right: auto;
        width:80%;
}

.more .previous {
    float:left;
    }

.more .next {
    float: right;
    }

.separation {
        width:40%;
        text-align:left;
        margin-left:20;
        color: #000000;
        background-color: #000000;
        height: 1px;
}
.bibliography {
        padding-left: 20px;
        padding-bottom: 10px;
}